html {
	padding: 0px;
	margin: -22px 0px 0px -8px;
	background-color: black;
}

body {
	width: 99%;

	
	background-color: pink;
	
	font-family: Verdana, Geneva, sans-serif;
	font-style: normal;
}

header {
	width: 100%;
	
	background-color: darkslategray;
	
	text-align: center;
}

aside {
	float:right;
	width: 19%;
	
	background-color: darkcyan;
}

section{
	display: block;
	width: 80%;
	height: 800px;
	
	background-color: slategray;

}

section div {
	display: block;
	height: 50%;
	
	overflow-y: scroll;
	scroll-behavior: smooth;
}

nav {
	float: left;
	width: 10%;
	height: 50%;
	
	padding-left: 6px;
	border: 2px solid darkcyan;
	
	background-color: teal;
}

nav ul {
	list-style-type: none;
}

nav ul li a{
	text-decoration: none;
	color: pink;
}

nav ul li a:hover{
	text-decoration: underline;
}
	

article {
	float: right;
	height: 120px;
	width: 85%;
	
	padding-left:6px;
	border: 1px solid white;
	
	background-color: darkcyan;
	
	font-size: 12px;
	
}


section:after {
	content: "";
	display: table;
	clear: both;
}

footer {
	display: block;
	float: left;
	width: 100%;
	
	background-color: darkslategray;
	
	text-align: center;
}

footer p {font-size: 8px;}




h1,h2,h3,h4 {
	color: white;
}
	
p {
	color: whitesmoke;
}



