html {
	padding: 0px;
	margin: -22px 0px 0px -8px;
	background-color: black;
}

body {
	display: block;
	width: 100%;

    margin: 0px;

	background-color: red;
	
	font-family: Verdana, Geneva, sans-serif;
	font-style: normal;
}

@media only screen and (max-device-width:640px) {
	body {
		background-color: cyan;
	}
}

@media only screen and (hover: none) and (pointer: coarse){

	header {
		background-color: red!important;
	}

}



header {
	position: relative;
	height: 100px;
	width: 100%;
	
	background-color: darkslategray;
	
}

header div.vertical-center{
	position: absolute;
	top: 35%;
	/*height: 10%;*/
	width: 80%;
	
	border: 1px solid black;
	
	color: pink;
	text-align: center;
	font-size: 32px;
	font-weight: bolder;
}

header h1 {
	position: absolute;
	color: pink;
}

aside {
	float:right;
	width: 18%;
	
	padding-left: 12px;
	padding-right: 12px;
	
	background-color: darkcyan;
}

aside p{
	font-size: 12px;
	}

section{
	display: block;
	width: 80%;
	height: 800px;
	
	background-color: slategray;

}

section div.panel {
	display: block;
	height: 50%;
	
	background-color: lightslategray;
	
	overflow-y: scroll;
	scroll-behavior: smooth;
}

nav {
	float: left;
	width: 10%;
	height: 50%;
	
	padding-left: 6px;
	border: 1px solid darkcyan;
	
	background-color: teal;
}

nav ul {
	list-style-type: none;
}

nav ul li a{
	text-decoration: none;
	color: pink;
}

nav ul li a:hover{
	text-decoration: underline;
}
	

article {
	float: right;
	height: auto;
	width: 95%;
	
	padding-left:6px;
	padding-right: 12px;
	padding-bottom: 6px;
	
	margin-bottom: 6px;
	border: 1px solid white;
	
	background-color: darkcyan;
	
	font-size: 12px;
	
}


section:after {
	content: "";
	display: table;
	clear: both;
}

footer {
	display: block;
	float: left;
	width: 80%;
	
	background-color: darkslategray;
	
	text-align: center;
}

footer p {font-size: 8px;}




h1,h2,h3,h4 {
	color: white;
}
	
p {
	color: whitesmoke;
}



